html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    text-rendering: optimizeLegibility;
    cursor: cell;
    scroll-behavior: smooth;
    orientation: landscape;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.screenContainer{
    width: 100vw;
    height: 100vh;
}

.center-portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vh;
}


.center-landscape {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%
}

/* FONTS */

@font-face {
    font-family: "Poppins-Light";
    src: local("Poppins-Light"), url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: local("Poppins-Regular"), url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: local("Poppins-Medium"), url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Proximanova-Medium;
    src: local("Proximanovacond-medium"), url(fonts/Proximanovacond-medium.otf);
}

h1{
    font-family: "Poppins-Medium";
}

img {
    height: 100vh;
    width: 100vw;
    object-fit:contain;
}

p{
    font-size: 2vh;
    font-family: "Poppins-Regular";
}

.text{
    font-size: 3vw;
}

.textSmall {
    font-size: 2.8vw;
    font-family: "Poppins-Medium";
}

.title{
    font-size: 5vw;
    text-transform: uppercase;
}

.textContainer{
    padding-left: 2vw;
    padding-right: 2vw;

}

.grid-even-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.textViewer{
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr 2fr;
}

.button {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button .text {
    font-size: 30px;
    top: 10px;
    bottom: 10px;
}

.textBlock {
    height: 100vh;
    top: auto;
    bottom: auto;
    display: grid;
    grid-template-rows: 8fr 1fr;
}

.Hline {
    border-top: 2px solid black
}

/*EMBLA*/

.embla {overflow: hidden;}
.embla__container { display: flex;}
.embla__slide {  flex: 0 0 100%;  min-width: 0;}

